md-input-container
  label title
  input(ng-model="Edit.post.title")
div(text-angular="", ng-model="Edit.post.content")
md-checkbox(ng-model="Edit.post.to_public") open to public?
md-button(ng-click="Edit.post.$save()") save


md-button(ng-click="Edit.post.$destroy()") delete
